@import url(//db.onlinewebfonts.com/c/5c773d1586db24bd45dfd4af3a4542e7?family=Shentox);

@font-face {
  font-family: 'Maquette-Regular';
  src: url('./fonts/ars-maquette-regular.woff') format('woff'), /* Pretty Modern Browsers */

      
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  color: #111;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}



nav .nav-top{
  font-size: 1.3rem;
  background-color: #222;
  display: flex;
  padding: .6rem 2.1rem;
  align-items: center;
}

nav .nav-top li {
  margin-right: 1.2rem;
  transition: all .1;
}

nav .nav-top li:hover a{
  color: rgba(255, 255, 255, .9);
}


nav .nav-top a {
 color: #888;
 font-family: Helvetica;
 letter-spacing: .2px;
}

nav .nav-top .active {
  color: rgba(255, 255, 255, .9);
}

.nav-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom-links {
  display: flex;
  font-size: 1.4rem;
  padding: 1.2rem 2.2rem;
  align-items: center;
}

.nav-bottom-links li {
  margin-right: 2.2rem;
}

.nav-bottom-links li a {
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-family: Shentox;
  font-weight: bold;
  transition: all .1s;
}

.nav-bottom-links li a:hover {
  color: black;
  font-weight: bolder;
}

.nav-bottom-search {
  border-left: 1px solid #eee;
  padding: 1.6rem 1.8rem;
}

.nav-bottom-search .fa-search{
  color: #bbb;
  transform: rotate(90deg);
  font-size: 1.7rem;
  transition: all .1s;
}

.nav-bottom-search:hover{
  cursor: pointer;
}

.nav-bottom-search:hover .fa-search{
  color: #777;
}


.podcast-promotion {
  background-color: #fcdc33;
  padding: .4rem 1.8rem;
  color: #111;
  font-size: 1.3rem;
  letter-spacing: .3px;
}


